@import url("./themtColor.css");
#global-loader-iframe {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 10010;
  background-color: var(--theme-color, #cdb09c);
  transition: transform 0.5s ease;
}
#global-loader-iframe.start {
  animation: loaderStart 0.3s ease-out forwards;
}
#global-loader-iframe.end {
  animation: loaderEnd 0.5s ease-out forwards;
}
@keyframes loaderStart {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes loaderEnd {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
