@font-face {
  font-family: "my-pixel";
  src: url("../assets/font/缝合怪像素.ttf");
}
@font-face {
  font-family: "my-GBKv1";
  src: url("../assets/font/汇文明朝体GBKv1.001.ttf");
}
@font-face {
  font-family: "my-AozoraMinchoLight";
  src: url("../assets/font/AozoraMinchoLight.ttf");
}
@font-face {
  font-family: "my-AozoraMincho-thin";
  src: url("../assets/font/AozoraMincho-thin.ttf");
}
@font-face {
  font-family: "my-日系小熊可爱体";
  src: url("../assets/font/日系小熊可爱体.ttf");
}
